doctype html  
html(lang='en')  
 head
   title Thank you for registering!
 body
   h1 Hi #{name},
   h2 Thank you for registering!
   div.container
     p Please verify your email.
     p On the following page:
     p 6 code :#{code}
     p Have a pleasant day.