doctype html  
html(lang='en')  
 head
   title Successful Login From New IP
 body
   h1 Hi #{name},
   h2 Unusual IP Behaviour detected.
   div.container
     p The system has detected that your account is logged in from an unused IP address.
     p Email: #{eamil}
     p IP Address : #{ip}
     p Time : #{time}
     p If this activity is not your own operation ,please disable your accout and contact us immeediately.
     p Have a pleasant day.